body {
    color: white;
}

.container {
    background: rgb(39, 39, 39);
    margin-top: 70px;
    margin-bottom: 100px;
    border-radius: 20px;
    box-shadow: 0rem 0rem 3rem 3rem rgba(50, 127, 221, 0.637);
}

.container header {
    height: 70px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 50px;
}

.questions {
    padding-bottom: 20px;
    font-size: 30px;
    display: flex;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 35px;
    background: rgb(18, 93, 255);
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 .0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgba(11, 233, 36) 0%, rgba(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
}

#hud {
    display: flex-column;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}



@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}

